@charset "ISO-8859-1";
body
{
	 background-color: lightblue;
 background-image: url("http://i247.photobucket.com/albums/gg153/sstruckmann/img_tree.png");
background-repeat: no-repeat;
background-position: right top;
margin-left:100px;

}
h2
{
color:blue;
    
}
h1{
	colour:yellow;
}


p
{
font-family:"Times New Roman";
font-size:50px;
color:red;
}
a {
    rgb(106, 90, 205);
    font-size: 20px;
}
body {
    color: blue;
}
